.div__design {
    display: flex;
    flex-direction: column;
}
.card__design {
    background-color: black !important;
    border-radius: 3% !important;
    margin: 4% 0;

}
.card__design:hover {
    box-shadow: 0 0 11px rgb(134, 5, 5);
}
.title__design {
    color: red;
    font-weight: bold !important;
    text-align: center;
}
.des__design {
    color: cornsilk;
    text-align: center;
}