.nav-design {
    display: flex !important;
    justify-content: space-between !important;
    position: fixed !important;
    width: 100% !important;
}
.FilterRate-design {
    width: 10%;
}
.netzlix-design {
    background-color: black !important;
    color: red;
    font-family: 'Henny Penny', cursive !important;
    text-align: center;
   padding-top:5% !important;
   padding-bottom: 2%!important;
}